<div class="card border-1 shadow">
    @foreach (var post in Posts)
    {
        <div class="mb-3 p-3 d-flex justify-content-between">
            <div>
                <h2 class="mb-1 h4 fw-bold">
                    <a class="text-dark" href="/posts/@post.Slug">@post.Title</a>
                </h2>
                <p>
                    @post.Introduction
                </p>
                <div class="card-text text-muted small">
                    @post.User.FullName in <a href="@post.Category.Slug-posts" title="@post.Category.Name Posts">@post.Category.Name</a>
                </div>
                <small class="text-muted">@post.PublishedAt.ToDisplay()</small>
            </div>
            <img class="w-50 h-auto border-dark border rounded rounded-2" src="@post.Image">
        </div>
    }
</div>
@code {
    [Parameter, EditorRequired]
    public BlogPost[] Posts { get; set; } = [];
}
