<div class="col-md-4 ps-4">
    <div class="sticky-top">
        <h5 class="fw-bold spanborder"><span>Popular</span></h5>
        <ol class="list-featured card shadow border-1 rounded rounded-2">
            @foreach (var post in Posts)
            {
                <li class="p-2">
                    <div>
                        <h6 class="fw-bold">
                            <a class="text-dark" href="/posts/@post.Slug">@post.Title</a>
                        </h6>
                        <p class="text-muted">
                            @post.User.FullName in <a href="@post.Category.Slug-posts" title="@post.Category.Name Posts">@post.Category.Name  </a>
                        </p>
                    </div>
                </li>
            }
        </ol>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public BlogPost[] Posts { get; set; } = [];
}
